# vscode folder
.vscode/

#object files
*.obj
*.o
*.a

# executables
*.exe

# input, intermediate and result files
*.txt
benign_samples*
malware_samples*
virus_samples*
files_to_check*
results*

# other stuff
lib/capstone-3.0/make.sh